/* html의 기본 margin, padding을 없애주는 유용한 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 전체 CSS */
body {
    background-color: white;
    color: #333;
    font-size: medium;
    line-height: 1.5;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.main {
    margin: 20px auto;
    color: black;
    line-height: 1.5; 
}

/* 상단 헤더 CSS */
ul {
    list-style-type: none;
}

.navbar {
    background-color: black;
    color: white;
    height: 60px;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.navbar a:hover {
    border-bottom: 1.7px #aaa solid;
    color: #aaa;
}

/* --------------------------------------------------- */

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

h2 {
    margin: 10px;
}

ul {
    list-style-type: none;
}

li {
    padding-left: 20px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    padding-bottom: 5px;
}

a {
    color: #333;
    text-decoration: none;
    display: flex; /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

a:hover {
    color: #aaa;
}

img {
    height: 30px;
    margin-right: 8px;
}

a:hover img {
    border-bottom: none;
}