/* html의 기본 margin, padding을 없애주는 유용한 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* 전체 CSS */
body {
    background-color: white;
    color: #333;
    font-size: medium;
    line-height: 1.5;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.main {
    margin: 20px auto;
    color: black;
    line-height: 1.5; 
}

/* 상단 헤더 CSS */
ul {
    list-style-type: none;
}

.navbar {
    background-color: black;
    color: white;
    height: 60px;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.navbar a:hover {
    border-bottom: 1.7px #aaa solid;
    color: #aaa;
}

/* --------------------------------------------------- */
h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.menual {
    font-size: x-large;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #444;
}

.three_point {
    margin: 5px 0;
}

hr {
    margin: 10px 0;
}

button {
    background-color: lightgray;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    font-size: large;
    font-weight: bold;
    border-width: 0;
    border-radius: 10px;
}

/* 그라데이션 */
.content {
    flex: 1;
    /* 상단 내용 영역 */
    text-align: center;
    padding: 20px;
}

.gradient {
    height: 50%; /* 페이지의 하반부 */
    position: absolute;
    bottom: 0;
    margin-left: 0;
    width: 100%;
    opacity: 0; /* 처음에는 보이지 않음 */
    transition: opacity 1s; /* 서서히 보이게 하는 애니메이션 */
}

/* JS코드 */
#time {
    font-weight: bold;
}

#desc-container {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#fig {
    height: 200px;
    display: block;
    margin: 0 auto;

}

